<div class="col-md-12">
  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium consectetur consequuntur eaque fugit illum
      nesciunt nihil nobis officia optio quam quas quibusdam quis quos sequi sunt totam, vitae voluptate.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi autem ea impedit in nisi officia ut vel
      veniam
      voluptatum. Doloremque eius enim eveniet excepturi quod? Expedita laudantium magnam quod!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, atque cupiditate, doloremque enim et
      expedita
      illo labore magni, neque nulla obcaecati quo rem voluptatibus. Corporis mollitia quasi repellendus sequi
      voluptatum?</p>
  </div>
</div>

